<div class="container-fluid">
<div class="container">
  <div class="row m-auto">
    <div class="col-md-6 m-auto text-center">
      <img class="mt-4" src="../../../assets/images/graduate.png" width="128" height="128" alt="register-logo">
      <div class="card text-center mt-4">
        <div class="card-header bg-secondary text-white">
          <h5 class="card-title">Créer un Compte</h5>
        </div>
        <div class="card-body mt-4 mb-3">

          <form #registerForm="ngForm" (ngSubmit)="register();">
            <div class="form-group">
              <input type="email" class="form-control no-outline" placeholder="john@doe.com" name="email" [(ngModel)]="user.email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="mot de passe" name="password" [(ngModel)]="user.password" required>
            </div>
            <div class="row mt-5 mb-5">
              <div class="col-xs-4 m-auto">
                <button type="submit" class="btn btn-secondary" [disabled]="registerForm.invalid">M'inscrire</button>
              </div>
            </div>
          </form>
         <div class="text-center">
           <a [routerLink]="['']" class="text-center text-warning">Me Connecter</a>
        </div>
      </div>
     </div>

   </div>

 </div>
</div>
</div>
