<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="container-fluid mt-5" *ngIf="student as st; else loading">
  <div class="container">
    <div class="row m-auto">
      <div class="col-md-12">
        <app-alert [message]="msg" *ngIf="success" (close)="onHandleClose()"></app-alert>
        <div class="card">
          <h5 class="card-header bg-warning"><i class="fa fa-2x fa-user-plus" aria-hidden="true"></i>&nbsp;Profil de
            l&apos;&eacute;tudiant</h5>
          <div class="card-body">
            <form [formGroup]="editForm" #formDirective="ngForm" (submit)="updateStudent(formDirective)">
              <div class="form-group">
                <label for="FormControlInput1">Pr&eacute;nom</label>
                <input type="text" class="form-control" id="FormControlInput1" placeholder="John"
                  formControlName="surname" name="surname" [value]="st.surname" required>
              </div>
              <div class="form-group">
                <label for="FormControlInput1">Nom</label>
                <input type="text" class="form-control" id="FormControlInput2" placeholder="Doe" formControlName="name"
                  name="name" [value]="st.name" required>
              </div>
              <div class="form-group">
                <label for="FormControlInput1">Date de naissance</label>
                <input type="date" class="form-control" id="FormControlInput3" placeholder="date de naissance"
                  formControlName="dob" name="dob" [value]="st.dob" required>
              </div>
              <div class="footer">
                <button type="submit" class="btn btn-secondary btn-submit mt-4 mb-4"
                  [disabled]="formDirective.invalid"><i class="fa fa-2x fa-plus-circle"
                    aria-hidden="true"></i>Modifier</button>
                <button type="button" class="btn btn-light btn-submit mt-4 mb-4 ml-2" [routerLink]="['/students']"><i
                    class="fa fa-2x fa fa-ban" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger btn-submit mt-4 mb-4" (click)="deleteStudent(st._id)"><i
                    class="fa fa-2x fa-trash" aria-hidden="true"></i></button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<ng-template #loading>
  loading...
</ng-template>
