<div class="container-fluid">
  <div class="container">
    <div class="row m-auto">
      <div class="col-md-6 m-auto mt-5 text-center">
        <img class="mt-5" src="../../../assets/images/lock.png" width="128" height="132" alt="login-logo">
        <div class="card text-center mt-5">
          <div class="card-header bg-secondary text-white">
            <h5 class="card-title">CONNEXION</h5>
          </div>
          <div class="card-body mt-4 mb-3">

            <form #loginForm="ngForm" (ngSubmit)="login();">
              <div class="form-group">
                <input type="email" class="form-control no-outline" placeholder="john@doe.com" name="email"
                  [(ngModel)]="user.email" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="mot de passe" name="password"
                  [(ngModel)]="user.password" required>
              </div>
              <div class="row mt-5 mb-5">
                <div class="col-xs-4 m-auto">
                  <button type="submit" class="btn btn-secondary" [disabled]="loginForm.invalid">Connexion</button>
                </div>
              </div>
            </form>
            <div class="text-center">
              <a [routerLink]="['/register']" class="text-center text-warning">M'inscrire</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
